<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>org.organey.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>org.organey.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryDetailServlet</servlet-name>
        <servlet-class>org.organey.CategoryDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSearchServlet</servlet-name>
        <servlet-class>org.organey.ProductSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.organey.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>org.organey.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>org.organey.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>org.organey.CheckOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/ProductDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryDetailServlet</servlet-name>
        <url-pattern>/CategoryDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSearchServlet</servlet-name>
        <url-pattern>/ProductSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
